.aurupesu {
    font-family: sans-serif;
    text-align: center;
}

.jaapuhastus {
    font-family: sans-serif;
    text-align: center; 
}

.kontakt {
    font-family: sans-serif;
    text-align: center;
}

.survepesu {
    font-family: sans-serif;
    text-align: center;
}

.tehtud_tood {
    font-family: sans-serif;
    text-align: center;
}