.Aurupesu {
    font-family: sans-serif;
    text-align: center;
    top:50%;
}

.Jaapuhastus {
    font-family: sans-serif;
    text-align: center; 
}

.Kontakt {
    font-family: sans-serif;
    text-align: center;
}

.Survepesu {
    font-family: sans-serif;
    text-align: center;
}

.Tehtud_tood {
    font-family: sans-serif;
    text-align: center;
}