.footer {
    position: relative;
    font-family: Roboto-thin;
    font-size: 22px;
    display: flex;
    padding-top: 3em;
    bottom: 0;
    width: 100%;
    text-align: center;
    flex-direction: column;
}