
@font-face {
  font-family: 'Roboto-thin';
  src: url('../fonts/Roboto-Thin.ttf');
}
.wrapper {
  display: flex;
}

.Title {
    background: linear-gradient(
        rgba(0, 0, 0, 0.527), 
        rgba(0, 0, 0, 0.479)
    ),
    url("../aurukas.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 910px;
    color: #fff;
    
  }
  .Header-left {
    position: absolute;
    margin-top: 1rem;
    margin-left: 2rem;
    filter: brightness(100);
   
  }
  .Header-middle {
    margin-top: 400px;
    font-family: Roboto-thin;
    justify-content: center;
    text-align: center;
    align-items: baseline;
    
    
  }

  ul.a {
    list-style-type: circle;
}
.Body {
    font-family: Roboto-thin;
    margin-top: 3em;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;

}
.Bullet_list {
    text-align: left;
    margin-left: 40px;
    font-size: 20px;

    
}

  