
@font-face {
  font-family: 'Roboto-thin';
  src: url('../fonts/Roboto-Thin.ttf');
}
.Homepage {
  font-family: Roboto-thin;
}
.Wrapper {
  display: flex;
}

.Title {
    background: linear-gradient(
        rgba(0, 0, 0, 0.527), 
        rgba(0, 0, 0, 0.479)
    ),
    url("../aurukas.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 910px;
    color: #fff;
  }
  .Header-middle {
    margin-top: 400px;
    justify-content: center;
    text-align: center;
    align-items: baseline;
  }
  .Services {
    font-size: 36px;
  }
  .Introduction {
    font-size: 24px;
  }
  .Offer {
    font-size: 36px;
  }

  ul.a {
    list-style-type: circle;
    margin-top: 15px;
    margin-left: 40px;
}
.Body {
    margin-top: 3em;
    text-align: center;
  }
  .Body_title {
    text-align: center;
    font-size: 34px;
  }
  .Body_introduction {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 28px;
  }
.Bullet_list {
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 20px;   
}

  