.wrapper {
  display: flex;
}

.Title {
    background: linear-gradient(
        rgba(0, 0, 0, 0.527), 
        rgba(0, 0, 0, 0.479)
    ),
    url("aurukas.jpg");
    box-sizing: border-box;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 910px;
    color: #fff;
    
  }
  .Header-right {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .Header-middle {
    margin-top: 430px;
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
    align-items: baseline;
    color: white;
    
  }

  